.Slider{
    margin: 20px 0px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 30px 1%;
    background: rgb(194, 190, 190 ,.5);
    border-radius: 20px;

}
.slide-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.slide-content{
   min-width:240px;
   min-height: 388px;
   max-height: 388px;
   margin:  0 6px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background: #ffffff;
   border-radius: 6px;
   padding: 10px;
   transition: all .3s ease-in-out;
}
.slide-img{
    width: 88%;
}
.slide-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 17px;
}
 .arrow-left ,
 .arrow-right{
    width: 50px;
    height: 50px;
    border: 2px solid #efefef;
    background: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}
.arrow-left{
    left: 24px;
}
.arrow-right{
    right: 24px;
}
.slide-info-title{
    display: block;
    min-height: 65px;
    text-align: center;
    color: #000000;
    margin-top: 12px;
}
.slide-info .price{
    color: #0b3860 ;
    margin: 0px 0px 8px;
}
